#route-container {
  width: 800px;
  height: 400px;
  background: green;
  margin-left: 10px auto;
}
#world-container {
  position: relative;
  width: 800px;
  height: 400px;
  margin: 20px auto;                 
}
#player-container {
  position: absolute;
  background-image: url('./features/Design/player_walk.png');
  width: 40px;
  height: 40px;
}
.tile {
  display: inline-flex;
}
#grass {
  background: green;
}
#rock {
  background-image: url('./features/Design/rock.png');
}
#tree {
  background-image: url('./features/Design/tree.png');
}
