#route-container {
  width: 600px;
  height: 600px;
  background: #f3aea3;
  margin-left: 10px auto;
}
#world-container {
  position: relative;
  width: 600px;
  height: 600px;
  margin: 20px auto;                 
}
#player-container {
  position: absolute;
  background-color: purple;
  width: 100px;
  height: 100px;
  transition: background-color 1s ease-in;
}
#player-container-2 {
  position: absolute;
  background-color: aqua;
  width: 100px;
  height: 100px;
  transition: background-color 1s ease-in;
}
#player-inactive{
  position: absolute;
  background-color: #4c4c4c;
  width: 100px;
  height: 100px;
  transition: background-color 1s ease-in;
}
.tile {
  display: inline-flex;
}
#grass {
  background: green;
}
#rock {
  background-image: url('./features/Design/rock.png');
}
#tree {
  background-image: url('./features/Design/tree.png');
}
